/**
 * CSS for HFC Web Services Client.
 */

table.programs-list td {
  padding-right: 0.5em;
  vertical-align: top;
}

table.programs-list .degree-type {
  white-space: nowrap;
}

#content-inner table.programs-list ul {
  margin-left: 0;
}

.staff-directory-results td {
  vertical-align: top;
}

.faculty-credentials .person {
  margin: 0 0 1.65em;
}

.faculty-credentials .fullname {
  font-weight: bold;
}

/**
 * Overrides for print.
 */
@media print {
  #hfccwsclient-staffdir-form fieldset#edit-search,
  #hfccwsclient-staffdir-form .form-submit,
  #hfccwsclient-staffdir-form #edit-results > label {
    display: none;
  }
}
